body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

div {
	width: 150px;
	height: 250px;
	background-color: purple;
	border: 4px solid black;
	border-radius: 10px;
	margin: 5px;
	color: purple;
}

.show {
	background-color: green;
}
